body
{
  background-color: #808080;
  width: 100%;
}
html{
  width: 100%;
  height: 100%;
}

.rollover
{
  width:100px;
  height:100px;
  background-position: top;
  background-size: 100%;
  overflow: hidden;
  display: inline-block;
}

#green{
  background-image:url("green_rollover_button.jpg");
  }
.rollover:hover{
  background-position: bottom;
}
#blue{
  background-image:url("blue_rollover_button.jpg");
}
.rollover:hover{
  background-position: bottom;
}
#purple{
  background-image:url("purple_rollover_button.jpg");
}
.rollover:hover{
  background-position: bottom;
}



.center-image {
  width:100%;
  text-align:center;
}
